{% load static %}
<section class="py-5" style="background-color: #eee">
  <div class="container">
    <h3 class="text-center text-success">
      Learn from the best EO course providers
    </h3>
    <div class="row mt-5">
      <div class="col-md-4">
        <img
          src="{% static 'trainings/images/nasa_esa.png' %}"
          alt=""
          style="height: 150px; width: auto"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'trainings/images/eesa.png' %}"
          alt=""
          style="height: 150px; width: auto"
        />
      </div>
      <div class="col-md-4">
        <img
          src="{% static 'trainings/images/nasa.png' %}"
          alt=""
          style="height: 150px; width: auto"
        />
      </div>
    </div>
  </div>
</section>
