{% load static %}
<section class="py-5">
  <div class="container">
    <h3 class="text-center text-success">Learning Paths</h3>
    <div class="row">
      <div
        class="col-md-4 d-flex flex-column align-content-center justify-content-center"
      >
        <img
          src="{% static 'trainings/images/image1.png' %}"
          alt=""
          srcset=""
        />
        <h4 class="text-success text-center">Skill Level</h4>
      </div>
      <div
        class="col-md-4 d-flex flex-column align-content-center justify-content-center"
      >
        <img
          src="{% static 'trainings/images/image4.png' %}"
          alt=""
          srcset=""
        />
        <h4 class="text-success text-center">Discipline</h4>
      </div>
      <div
        class="col-md-4 d-flex flex-column align-content-center justify-content-center"
      >
        <img
          src="{% static 'trainings/images/image5.png' %}"
          alt=""
          srcset=""
        />
        <h4 class="text-success text-center">Technologies/Tools</h4>
      </div>
    </div>
  </div>
</section>
